@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v8-latin-700.woff2") format("woff2");
}
.btn-one {
  padding: 14px 45px;
  background-color: #030303;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1, 75;
  color: #fff7f0;
  border-radius: 28px;
}

.btn-two {
  padding: 14px 45px;
  background-color: #eb7565;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1, 75;
  color: #fff7f0;
  border-radius: 28px;
}

.btn-one:hover {
  background-color: #755cde;
}

.btn-two:hover {
  background-color: #f6a560;
}

.arrows {
  width: 64px;
  height: 64px;
  background-color: #030303;
  border-radius: 50%;
  padding: 24px;
}

.arrows:hover {
  background-color: #755cde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  line-height: 1.25;
  background-color: #fff7f0;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1171px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.herader {
  padding-top: 3.4rem;
  padding-bottom: 3.4rem;
}

.hedaer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  padding-top: 6.6rem;
  padding-bottom: 6.6rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 1.25;
  color: #030303;
}

.hero__subtitle {
  margin-top: 2.3rem;
  width: 100%;
  max-width: 730px;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #7a746e;
}

.service {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.service__box {
  display: grid;
  grid-template: 1/6;
  gap: 2.4rem;
}

.box__content:nth-child(1) {
  grid-column: 1/6;
}

.box__content:nth-child(2) {
  width: 100px;
  height: 100px;
  color: #552049;
  background-color: black;
}

.box__content:nth-child(3) {
  width: 100px;
  height: 100px;
  color: #552049;
  background-color: black;
}

.box__content:nth-child(4) {
  width: 100px;
  height: 100px;
  color: #552049;
  background-color: black;
}

.box__content:nth-child(5) {
  width: 100px;
  height: 100px;
  color: #552049;
  background-color: black;
}

.box__content:nth-child(6) {
  width: 100px;
  height: 100px;
  color: #552049;
  background-color: black;
}/*# sourceMappingURL=style.css.map */